* {
    margin: 0;
    padding: 0;
}
html, body {
    background: rgb(250, 250, 250);
}
li {
    list-style: none;
}
.title {
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 28px;
    color: #FFF;
    font-weight: bold;

    background: #666699;
}

ul {
    margin: 30px auto;
    width: 70%;
}

li {
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
li:hover {
    opacity: .8;
}
li:nth-child(even) {
    background: #CCCCCC;
}
li:nth-child(odd) {
    background: #FFCC99;
}

.shopping-cart-wrapper {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}